<h3>Feedback for <%= @receiver.name %></h3>
<h4>Project: <%= @group.project.name %></h4>
<%= form_tag("/groups/#{params[:group_id]}/responses") do %>
  <% @questions.each do |question| %>
    <%= question.text %>
    <%= select_tag "scores[#{question.id}]", options_from_collection_for_select(question.options.order(:value), "id", "title") %>
  <% end %>
  <p><%= submit_tag "Submit" %></p>
<% end %>
